{% extends "layout.html" %}
{% load i18n %}

{% block head %}
    <link href="{{ STATIC_URL }}css/{{ THEME }}/user.css" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ STATIC_URL }}css/{{ THEME }}/form.css" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block content %}
<div class="primary-content span-12 last changepassword">

{% include 'partner/menu.html' %}

<h2>{{ title }}</h2>

{% if error %}
    {% if error %}<div id="message" class="msg-info">{{ error }}</div>{% endif %}
{% endif %}

<p>{% trans "Insert your new password" %}:</p>
<form method="post" action="{% url partner_changepassword %}">
    <table>
        <tbody>
	        <tr>
	            <td>{{ form.password1.label }}</td>
	            <td><input type="password" name="password1" id="id_password1" class="required" minlength="6"/></td>
	        </tr>
	        <tr>
	            <td>{{ form.password2.label }}</td>
	            <td><input type="password" name="password2" id="id_password2" class="required" minlength="6"/></td>
	        </tr>
	        <tr>
	            <td>
	                <input type="submit" class="btn-action" value="{% trans "Change password" %}" />
	            </td>
	        </tr>
        </tbody>
    </table>
    {% csrf_token %}
</form>

</div>
{% endblock %}
