{% extends "layout.html" %}
{% load i18n %}

{% block head %}<link href="{{ STATIC_URL }}css/{{ THEME }}/user.css" rel="stylesheet" type="text/css" media="screen">{% endblock %}

{% block content %}
<div id="page-wrap" class="clearfix">
    {% if message %}<div id="message">
        <h1>{{ message }}</h1>
    </div>{% endif %}
    {% include 'partner/menu.html' %}

    <div id="profile-content">
        <p>{% blocktrans %}Hello {{full_name}}.{% endblocktrans %}</p>

        <ul id="menu-profile-home">
            <li><a href="{% url sale %}" title="{% trans "Orders" %}">{% trans "Orders" %}</a></li>
            <li><a href="{% url account %}" title="{% trans "Invoices" %}">{% trans "Invoices" %}</a></li>
            <li><a href="{% url partner_partner %}" title="{% trans "Your acccount" %}">{% trans "Your account" %}</a></li>
            <li><a href="{% url partner_changepassword %}" title="{% trans "Change password" %}">{% trans "Change password" %}</a></li>
            <li><a href="{% url partner_logout %}" title="{% trans "Logout" %}">{% trans "Logout" %}</a></li>
        </ul>
    </div>
</div>
{% endblock %}
