{% extends "layout.html" %}
{% load i18n %}

{% block head %}
    <link href="{{ MEDIA_URL }}css/{{ THEME }}/form.css" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ MEDIA_URL }}css/{{ THEME }}/user.css" rel="stylesheet" type="text/css" media="screen">
    <script src="{{ MEDIA_URL }}js/jquery.validate.js" type="text/javascript"></script>

    <script type="text/javascript">
    $(document).ready(function() {
	    $("#registerForm").validate();
    });
    </script>

    <script type="text/javascript">
     var RecaptchaOptions = {
        theme : 'clean'
     };
     </script>
{% endblock %}

{% block content %}
<div class="primary-content span-12 last">

{% if message %}
    <div id="message" class="msg-error">
        <h1>
        {% for msg in message %}
           {{ msg }}<br/>
        {% endfor %}
        </h1>
    </div>
{% endif %}

<div id="top-header">{{ title }}</div>

<form action="{% url auth_register %}" method="post" id="registerForm">
<fieldset>
    <div class="col2-set">
        <div class="col-1 new-users">
            <h3>{% trans "New customers" %}</h3>
            <ul class="register">
                <li>
                    <label for="name">{% trans "Customer" %} <span class="required">*</span></label>
                    <input type="text" name="name" id="id_name" maxlength="128" value="{{ name }}" class="required" minlength="6"/>
                </li>
                <li>
                    <label for="partner">{% trans "Vat" %} <span class="required">*</span></label>
                    <select name="vat_code" id="vat_code" class="vat_code">
                    {% for country in countries %}<option value="{{ country.code }}" {% if country.code == country_default %} selected="selected"{% endif %}>{{ country.code }} ({{ country.name }})</option>{% endfor %}
                    </select>
                    <input type="text" name="vat" id="id_vat" maxlength="128" value="{{ vat }}" class="required" minlength="6"/>
                </li>
                <li>
                    <label for="street">{% trans "Address" %} <span class="required">*</span></label>
                    <input type="text" name="street" id="id_street" maxlength="128" value="{{ street }}" class="required" minlength="6"/>
                </li>
                <li>
                    <label for="zip">{% trans "ZIP" %} <span class="required">*</span></label>
                    <input type="text" name="zip" id="id_zip" maxlength="128" value="{{ zip }}" class="required" minlength="4"/>
                </li>
                <li>
                    <label for="city">{% trans "City" %} <span class="required">*</span></label>
                    <input type="text" name="city" id="id_city" maxlength="128" value="{{ city }}" class="required" minlength="2"/>
                </li>
                <li>
                    <label for="username">{{ form.username.label_tag }} <span class="required">*</span></label>
                    <input type="text" name="username" id="id_username" maxlength="30" value="{{ username }}" class="required" minlength="6"/> (az09)
                </li>
                <li class="register-field">
                    <label for="pass1">{{ form.password1.label_tag }} <span class="required">*</span></label>
                    <input type="password" name="password1" id="id_password1" class="required" minlength="6"/>
                </li>
                <li class="register-field">
                    <label for="pass2">{{ form.password2.label_tag }} <span class="required">*</span></label>
                    <input type="password" name="password2" id="id_password2" class="required" minlength="6"/>
                </li>
                <li class="register-field">
                    <label for="email">{% trans "Email" %} <span class="required">*</span></label>
                    <input type="text" name="email" id="id_email" value="{{ email }}" class="required email"/>
                </li>
                <li><a href="{{ LOCALE_URI }}/partner/remember/">{% trans "Remember?" %}</a></li>
            </ul>
        </div>
        {% if html_captcha %}
        <div class="col-2 register-users">
            <h3>{% trans "To create an Account insert the same number" %}</h3>
            {{ html_captcha|safe }}
        </div>
        {% endif %}
    </div>
    <div class="col2-set">
        <div class="col-1">
            <div class="buttons-set">
            </div>
        </div>
        <div class="col-2">
            <div class="buttons-set">
                <input type="submit" value="{% trans "Create new account" %}" />
                <p class="required">* {% trans "Required Fields" %}</p>
            </div>
        </div>
    </div>
</fieldset>
{% csrf_token %}
</form>

</div>
{% endblock %}
