{% extends "layout.html" %}
{% load i18n %}

{% block head %}
    <link href="{{ STATIC_URL }}css/{{ THEME }}/user.css" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ STATIC_URL }}css/{{ THEME }}/form.css" rel="stylesheet" type="text/css" media="screen">

    <script type="text/javascript">
     var RecaptchaOptions = {
        theme : 'clean'
     };
     </script>
{% endblock %}

{% block content %}
<div class="primary-content span-12 last remember">


{% if message %}
    <div id="message" class="msg-info">
        <h3>
        {% for msg in message %}
           {{ msg }}<br/>
        {% endfor %}
        </h3>
    </div>
{% endif %}

<p>{% trans "Insert your email and username and new password are you send it" %}.</p>
<form method="post" action="{{ LOCALE_URI }}/partner/remember/">
    <table>
        <tr> 
            <td><label for="id_email">{% trans "Email" %}</label></td> 
            <td><input type="text" name="email" id="id_email" value="{{ email }}" /></td> 
        </tr> 
        <tr><td colspan="2">{{ html_captcha|safe }}</td></tr>
        <tr>
            <td>
                <input type="submit" class="btn-action" value="{% trans "Submit" %}" />
            </td>
        </tr>
    </table>
    {% csrf_token %}
</form>

</div>
{% endblock %}
