# Ignore configuration files for differents enviroments
django_zoook/settings_*.py
django_zoook/config_*.py

# Ignore byte compiled files
*.py[co]
*.log

log
dist
build

# Ignore Eclipse IDE files
.settings
.project
.pydevproject


*.egg-info
.directory

# Ignore linked resources
paypal
