{% extends "layout.html" %}
{% load i18n %}
{% load modules %}

{% block head %}<link href="{{ STATIC_URL }}css/{{ THEME }}/user.css" rel="stylesheet" type="text/css" media="screen">{% endblock %}
{% block pathway %}{% endblock %}

{% block content %}
<div id="page-wrap" class="clearfix">
    {% include 'partner/menu.html' %}

    <div id="sidebar">
        <div class="block border5">
            {% module catalog.right_sale %}
        </div>
    </div>
    <div id="content">
        <p>{% trans "In few moment we redirecting to Pasat 4b. One moment..." %}</p>
        {% if debug %}
            {{ form.sandbox }}
        {% else %}
            {{ form.render }}
        {% endif %}
    </div>

<script type="text/javascript">document.getElementById("pasat4b_standard_checkout").submit();</script>
</div>
{% endblock %}
