{% extends "layout.html" %}
{% load i18n %}
{% load thumbnail %}
{% load modules %}

{% block head %}{% endblock %}
{% block pathway %}<div id="pathway"><ul><li><a href="/">{% trans "Home" %}</a></li><li><span>&gt;</span> <a href="{{ LOCALE_URI }}/{% trans 'catalog' %}/">{% trans "Catalog" %}</a></li><li><span>&gt;</span> {% trans "Search" %}</li>
</ul></div>{% endblock %}

{% block content %}
	{% load product_products %}{% render_product_products %}
{% endblock %}

{% block jqueryload %}{% if update_price and user.is_authenticated and values|length > 0 %}$.zUpdatePrice( {url: '{{ LOCALE_URI }}/catalog/updateprice/', 'delayUpdater': 1000, 'textAlert' : '{% trans "Price updating..." %}'} ){% endif %}{% endblock %}
