{% extends "layout.html" %}
{% load i18n %}

{% block head %}
    <link href="{{ MEDIA_URL }}css/account.css" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ MEDIA_URL }}css/form.css" rel="stylesheet" type="text/css" media="screen">
    <script src="{{ MEDIA_URL }}js/jquery.validate.js" type="text/javascript"></script>

    <script type="text/javascript">
    $(document).ready(function() {
	    $("#partnerForm").validate();
    });
    </script>
{% endblock %}

{% block content %}
<div class="primary-content span-12 last">

    {% include 'accounts/menu.html' %}

    <div id="instance-saas">
        <h1>{{title}}</h1>

        {% if message %}
            <div id="message">
                <h1>{{ message }}</h1>
            </div>
        {% endif %}

        <form action="/accounts/partner/" class="cmxform" id="partnerForm" method="post">
        <fieldset>
        <legend>{% trans "Partner" %}</legend>
        <p><label for="partner">{% trans "Partner" %}:</label><input id="name" type="text" name="name" class="required" maxlength="128" value="{% firstof partner_oerp.name name %}" {% if partner_oerp.name %}readonly="readonly"{% endif %}/></p>
        <p><label for="vat">{% trans "VAT" %}:</label>{% if vat_code|length > 1 %}<select name="vat_code" id="vat_code" {% if partner_oerp.vat %}readonly="readonly"{% endif %}>
{% for code in vat_code %}
<option value="{{ code }}" {% if partner_oerp.vat|slice:":2" == code %}selected="selected"{% endif %}>{{ code }}</option>
{% endfor %}
</select>
{% else %}<input type="hidden" name="vat_code" id="vat_code" value="{% if partner_oerp.vat %}{{ partner_oerp.vat|slice:":2" }}{% endif %}{{ vat_code|first }}" />{% endif %}<input id="vat" type="text" name="vat" class="required" maxlength="32" value="{% firstof partner_oerp.vat|slice:"2:" vat|slice:"2:" %}" {% if partner_oerp.vat %}readonly="readonly"{% endif %}/></p>
        <p><label for="addr_name">{% trans "Name" %}:</label><input id="addr_name" type="text" name="addr_name" class="required" maxlength="64" value="{% firstof  addr_oerp.name addr_name %}"/></p>
        <p><label for="addr_street">{% trans "Street" %}:</label><input id="addr_street" type="text" name="addr_street" class="required" maxlength="128" value="{% firstof  addr_oerp.street addr_street %}"/></p>
        <p><label for="addr_zip">{% trans "Zip" %}:</label><input id="addr_zip" type="text" name="addr_zip" class="required" maxlength="24" value="{% firstof addr_oerp.zip addr_zip %}"/></p>
        <p><label for="addr_city">{% trans "City" %}:</label><input id="addr_city" type="text" name="addr_city" class="required" maxlength="128" value="{% firstof  addr_oerp.city addr_city %}"/></p>
        <p><label for="addr_country_id">{% trans "Country" %}:</label><select id="addr_country_id" name="addr_country_id">
        {% for country in countries %}
            {% if addr_oerp.country_id.id == country.id %}
                <option value="{{country.id}}" {% if addr_oerp.country_id.id == country.id %}selected="selected"{% endif %}>{{country.name}}</option>
            {% else %}
                <option value="{{country.id}}" {% if country.code == country_default %}selected="selected"{% endif %}>{{country.name}}</option>
            {% endif %}
        {% endfor %}</select></p>
        <p><label for="addr_email">{% trans "email" %}:</label><input id="addr_email" type="text" name="addr_email" class="required" maxlength="240" value="{% firstof  addr_oerp.email addr_email %}"/></p>
        <p><label for="addr_phone">{% trans "phone" %}:</label><input id="addr_phone" type="text" name="addr_phone" class="required" maxlength="64" value="{% firstof  addr_oerp.phone addr_phone %}"/></p>
        <input type="submit" value="{% trans "Save Data" %}" />
        </fieldset>
        {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}
