{% extends "layout.html" %}
{% load i18n %}

{% block head %}
    <link href="{{ MEDIA_URL }}css/account.css" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block content %}
<div class="primary-content span-12 last">
{% if message %}
    <div id="message">
        <h1>{{ message }}</h1>
    </div>
{% endif %}
    {% include 'accounts/menu.html' %}

    <div id="profile-content">
        {% blocktrans %}Hello {{full_name}}.{% endblocktrans %}

        <ul>
        <li><a href="/saas/" alt="{% trans "List all instances" %}" title="{% trans "List all instances" %}">{% trans "List all instances" %}</a></li>
        <li><a href="/saas/create/" alt="{% trans "Create an instance" %}" title="{% trans "Create an instance" %}">{% trans "Create an instance" %}</a></li>
        <li><a href="/accounts/partner/" alt="{% trans "Your details" %}" title="{% trans "Your details" %}">{% trans "Your details" %}</a></li>
        <li><a href="/saas/invoice/" alt="{% trans "Your invoices" %}" title="{% trans "Your invoices" %}">{% trans "Your invoices" %}</a></li>
        </ul>
    </div>
</div>
{% endblock %}
