{% extends "layout.html" %}
{% load i18n %}
{% load modules %}

{% block pathway %}<div id="pathway"><ul><li><a href="/">{% trans "Home" %}</a></li><li><span>&gt;</span> <a href="/{{ LANGUAGE_CODE }}/{% trans 'catalog' %}/">{% trans "Catalog" %}</a></li></div>{% endblock %}

{% block content %}
<div id="page-wrap" class="clearfix">
    <div id="sidebar">
    	<div class="block border5">
            {% module catalog.right %}
        </div>
    </div>

    <div id="content">
        <div id="catalog-index" class="block border5 clearfix">
            <ul>
                {% for value, level, oldlevel in values %}<li class="categories-list-{{ level }}"><a href="/{{ LANGUAGE_CODE }}/{% trans 'catalog' %}/{%if value.fslug%}{{value.fslug}}{%else%}{{value.slug}}/{%endif%}">{{ value.name }}</a></li>{% endfor %}
            </ul>
        </div>
    </div>

</div>
{% endblock %}
