{% extends "layout.html" %}
{% load i18n %}
{% load thumbnail %}
{% load modules %}

{% block content %}
<div id="page-wrap" class="clearfix">
    {% module {category_decription|catalog.featured} id="sidebar" class="block border5" %}

    <div id="content">
        <div id="catalog-category" class="block border5 clearfix">
        	<div class="toolbar-head">
            	<h1 class="featured">{% trans "Featured Products" %}</h1>
            </div>

            <ul id="catalog-grid">{% for value in values %}
                <li id="product-{{value.product.id}}" class="product-item block border5">
                    <a href="{{value.product.get_absolute_url}}" class="product-img"><img src="{% thumbnail value.base_image.url 150x150 product_zoook.png %}" title="{{value.product.name}}" class="product-image-grid" /></a>
                    <a href="{{value.product.get_absolute_url}}" class="product-name" alt="{{value.product.name}}" title="{{value.product.name}}"><h2>{{value.product.name}}</h2></a>
                    {% if value.product.status %}
	                    <div id="product-price-{{value.product.id}}" class="price-box">
	                        <span class="regular-price">
	                            <span class="price">
	                                {% if currency_position == 'before' %}{{ currency }} {{value.price}}{% else %}{{value.price}} {{ currency }}{% endif %}
	                            </span>
	                        </span>
	                    </div>
                    {% endif %}
                    <div><a href="{{value.product.get_absolute_url}}" class="button-details">{% trans "Details" %}</a></div>
                    <ul class="add-to">
                        {% if user.is_authenticated %}<li><a href="{{ LOCALE_URI }}/{% trans 'catalog' %}/wishlist/add/{{value.product.slug}}"><img src="{{ STATIC_URL }}images/icons/wishlist.png" alt="{% trans "Add to Wishlist" %}" title="{% trans "Add to Wishlist" %}"/></a></li>{% endif %}
                        {% if compare_on %}<li><a href="{{ LOCALE_URI }}/{% trans 'catalog' %}/compare/add/{{value.product.slug}}"><img src="{{ STATIC_URL }}images/icons/compare.png" alt="{% trans "Add to Compare" %}" title="{% trans "Add to Compare" %}"/></a></li>{% endif %}
                    </ul>
                </li>{% endfor %}
            </ul>
        </div>
    </div>

{% if update_price and user.is_authenticated and values|length > 0 %}<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.zupdateprice.js"></script>{% endif %}
</div>
{% endblock %}

{% block jqueryload %}{% if update_price and user.is_authenticated and values|length > 0 %}$.zUpdatePrice( {url: '{{ LOCALE_URI }}/catalog/updateprice/', 'delayUpdater': 1000, 'textAlert' : '{% trans "Price updating..." %}'} ){% endif %}{% endblock %}
