{% extends "layout.html" %}
{% load i18n %}
{% load thumbnail %}
{% load modules %}

{% block content %}
<div id="page-wrap" class="clearfix">
    <div id="sidebar">
        <div class="block border5">
            {% module catalog.featured %}
        </div>
    </div>

    <div id="content">
        <div id="catalog-category" class="block border5 clearfix">
            <h1 class="featured">{% trans "Featured Products" %}</h1>

            <ul id="catalog-grid">{% for value in values %}
                <li id="product-{{value.product.id}}" class="product-item block border5{% cycle '' '' ' last' %}">
                    <a href="{{value.product.get_absolute_url}}" class="product-img"><img src="{% thumbnail value.base_image.url 150x150 product_zoook.png %}" width="150" height="150" title="{{value.product.name}}" class="product-image-grid" /></a>
                    <a href="{{value.product.get_absolute_url}}" class="product-name" alt="{{value.product.name}}" title="{{value.product.name}}"><h2>{{value.product.name}}</h2></a>
                    {% if value.product.status %}
	                    <div id="product-price-{{value.product.id}}" class="price-box">
	                        <span class="regular-price">
	                            {% if currency_position == 'before' %}<span class="price">{{ currency }} {{value.price}}</span>{% else %}
	                                <span class="price">{{value.price}} {{ currency }}</span>{% endif %}
	                        </span>
	                    </div>
                    {% endif %}
                    <a  href="{{value.product.get_absolute_url}}" class="button-details">{% trans "Details" %}</a>
                    <ul class="add-to">
                        {% if user.is_authenticated %}<li><a href="{{ LOCALE_URI }}/{% trans 'catalog' %}/wishlist/add/{{value.product.slug}}"><img src="{{ MEDIA_URL }}images/icons/wishlist.png" alt="{% trans "Add to Wishlist" %}" title="{% trans "Add to Wishlist" %}"/></a></li>{% endif %}
                        {% if compare_on %}<li><a href="{{ LOCALE_URI }}/{% trans 'catalog' %}/compare/add/{{value.product.slug}}"><img src="{{ MEDIA_URL }}images/icons/compare.png" alt="{% trans "Add to Compare" %}" title="{% trans "Add to Compare" %}"/></a></li>{% endif %}
                    </ul>
                </li>{% endfor %}
            </ul>
        </div>
    </div>

{% if update_price and user.is_authenticated and values|length > 0 %}<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.zupdateprice.js"></script>{% endif %}
</div>
{% endblock %}

{% block jqueryload %}{% if update_price and user.is_authenticated and values|length > 0 %}$.zUpdatePrice( {url: '{{ LOCALE_URI }}/catalog/updateprice/', 'delayUpdater': 1000, 'textAlert' : '{% trans "Price updating..." %}'} ){% endif %}{% endblock %}
