{% extends "layout.html" %}
{% load i18n %}
{% load modules %}

{% block head %}<link href="{{ STATIC_URL }}css/{{ THEME }}/user.css" rel="stylesheet" type="text/css" media="screen">{% endblock %}
{% block pathway %}{% endblock %}

{% block content %}
<div id="page-wrap" class="clearfix">
    {% include 'partner/menu.html' %}

    <div id="sidebar">
        <div class="block border5">
            {% module catalog.right_sale %}
        </div>
    </div>
    <div id="content">
        <p>{% blocktrans %}Your order {{order}} is created successfully.{% endblocktrans %}<br/>
        <a href="{{ LOCALE_URI }}/sale/" title="{% trans "Orders" %}">{% blocktrans %}Go Orders for more details and status order{% endblocktrans %}</a></p>
    </div>
    
</div>
{% endblock %}
