{% extends "layout.html" %}
{% load i18n %}

{% block content %}
<div id="zoook-doc-boxright">
    <ul>
        <li><a href="/manager/">Go to Admin</a></li>
        <li><a href="https://launchpad.net/zoook">Go to documentation and code</a></li>
    </ul>
</div>

<h2 class="zoook-doc">Welcome Zoook - OpenERP e-sale</h2>
<p>You are at home of Zoook</p>

<h2 class="zoook-doc">OpenERP Configuration</h2>
<p>Edit config.py. Configure OpenERP connections (XML-RPC or PyRO)

<h2 class="zoook-doc">Home Page</h2>
<p>Edit tpl index for customization frontend and custom your template.</p>

<h2 class="zoook-doc">Django configuration</h2>
<ol>
<li>1. In static dir, create symbolic link at inplaceeditform library:
static$ ln -s /usr/local/lib/python2.6/dist-packages/django_inplaceedit-0.69-py2.6.egg/inplaceeditform/media/ inplaceeditform</li>
<li>2. Add in config.py your configuration (database, OpenERP connection, sale, ....)</li>
<li>3. py files in sync dir: change execute permisions</li>
<li>4. Edit config_path.py. Add you Django path</li>
<li>5. Add same languages OpenERP in settings.py (LANGUAGES)</li>
<li>6. Create tables: python manage.py syncdb</li>
<li>7. Run Server: python manage.py runserver</li>
</ol>

<h2 class="zoook-doc">OpenERP configuration</h2>
<ol>
<li>1. Sale/Administration/Sales. Configure your Sale Shop and paramiko connection (ssh)</li>
<li>2. Add Countries to Check Vat. This option is requiered because is same countries avalaible shop.</li>
<li>3. Sale Order or Invoices sequence not use / (for example, SO/001). URL navigator get order number and / it's a path url and broken.</li>
</ol>

<h2 class="zoook-doc">Catalog and Product Sync</h2>
<p>Sales, partners, ... are creating in real time e-sale to OpenERP. Only nedd sync categories and products.
Go to sale shop OpenERP for sync. Remember Django Sync dir need execute permisions.
Also, remember see OpenERP logs and Django logs</p>

<h2 class="zoook-doc">Django Template</h2>
<p>See more documentation about Django template at <a href="https://docs.djangoproject.com/en/dev/ref/templates/">Django Templates Doc</a></p>
<p><strong>Some Features</strong><br/>
Add new modules in your template: &#123;% module [position]%&#125;</p>
{% endblock %}
