/* CATEGORY INDEX */
#catalog-index { padding:10px}
.categories-list-1 { padding-left:0px; margin-top:10px; border-bottom:1px solid #D2D6D8; font-size:15px; font-weight: bold; color:#8a0000}
.categories-list-2 { padding-left:10px; }
.categories-list-3 { padding-left:20px }
.categories-list-4 { padding-left:30px }
.categories-list-5 { padding-left:40px }
.categories-list-6 { padding-left:50px }

/* CATALOG CATEGORY */
#catalog-category					{ padding:10px }
#catalog-category .product-name h2  { font-size:13px; line-height:18px; font-weight:bold }

/* CATALOG CATEGORY GRID */
#catalog-grid .product-item					{ width:196px; height:310px; padding:15px 10px; margin:0 10px 10px 0; float:left; text-align:center }
#catalog-grid .product-item .product-img	{ display:block; margin-bottom:10px }

/* CATALOG CATEGORY LIST */
#catalog-list .product-item                 { width:650px; height:180px; padding:15px 10px; margin-bottom:10px; float:left; text-align:left }
#catalog-list .product-item .product-img    { display:block; margin-right:10px; float:left }
#catalog-list .price-box					{ }
#catalog-list .product-description			{ }

.product-item					{ width:196px; height:310px; padding:15px 10px; margin:0 10px 10px 0; float:left; text-align:center }
.product-item .product-img		{ display:block; margin-bottom:10px }

/* CATALOG TOOLBAR */
.toolbar			{ display:block; clear:both; padding-bottom:20px; font-size:11px }
.toolbar select 	{ color:#86657f }
.toolbar-top        { border-bottom:1px solid #e7e7e7; margin-bottom:10px }
.toolbar-bottom     { border-top:1px solid #e7e7e7; margin-top: 10px }
.items-pager, items-sort 	{ height:32px; line-height:32px }

.view-mode a 		{ text-decoration:underline }
.view-mode .active	{ font-weight:bold }

.sort-drop, .items-drop { display:block; float:right }

/* PRODUCT */
.product-name h2		{ color:#769a9a; margin-bottom:10px }
.product-name:hover h2 	{ color:#0a6c77 }

.product-item button		{ padding:6px 12px; font-size:12px; cursor:pointer; border:0; background-color:#0a6c77; color:#fff; font-weight:bold }
.product-item button:hover	{ background-color:#000 }

/* PRICE BOX */
.price-box		{ margin-bottom:10px }
.price			{ color:#da5406; font-size:24px; line-height:32px; font-weight:bold }

.price-box .loader { padding:0 0 0 5px }

.product-image-grid { border:1px solid #e7e7e7;}

.add-to		{ display:block; font-size:12px; line-height:18px; margin-top:10px }
.add-to li		{ display:inline-block }
.add-to a		{ text-decoration:underline }
.add-to .separator { padding:0 4px }

#update-price-info { display:none; position:fixed; bottom:10px; right:10px; padding:0 15px 0 50px; height:60px; line-height:60px; font-size:20px; font-weight:bold; background:#da5406 url(../images/price_loader.gif) 10px center no-repeat; color:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px }

/* SPECIAL CLASSES -------------------------------------------------------------------------------------------- */
.border2    { border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px }
.border5	{ border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px }
.last		{ margin-right:0 !important }

/* SIDEBAR -------------------------------------------------------------------------------------------- */
#sidebar h3 { padding:8px 10px; font-size:11px; font-weight:bold; text-transform:uppercase; color:#555 }

#sidebar .block		{ margin-bottom:20px; background-color:#f9f9f9 }
#sidebar .block-content { padding:0 10px 10px 10px; color:#777 }

/* Shopping Cart Table */
.cart-table{ width:100%}
.cart-table .item-msg { font-size:10px}
.cart-table th{padding:10px; font-size:1.09em; font-weight:bold; border-bottom:1px solid #D2D6D8;}
.cart-table td{ vertical-align:middle; border-bottom:1px solid #D2D6D8;}
.cart-table tfoot td{padding:10px}

.btn-remove { display:block; width:13px; height:13px; font-size:0; line-height:0; background:url(../images/icons/btn_remove.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden}
.btn-trash { display:block; width:16px; height:16px; font-size:0; line-height:0; background:url(../images/icons/btn_trash.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden}

/* Sale / Invoice */
.page-previous { padding-right:10px}
.page-next {}
#catalog-order { padding:10px}
#catalog-order h2{padding-top:10px}
#payment-order { padding:10px}
.payment-buttom{ margin-top:10px; padding:5px; color:#fff; background-color:#0a6c77}
.amount-invoice { margin-top:10px; padding:10px; background-color:#f3f5f6}
.amount-sale { margin-top:10px; padding:10px; background-color:#f3f5f6}
#payment-sale { margin-top:10px}

/* Order Table */
.order-table{ width:100%}
.order-table th{padding:10px; font-size:1.09em; font-weight:bold; border-bottom:1px solid #D2D6D8;}
.order-table td{ padding-left:10px; vertical-align:middle; padding:3px 0 3px 10px}
.order-table tfoot td{padding:10px}
.order-table .row1 { }
.order-table .row2 { background-color:#f3f5f6}
