{% load i18n %}
                    <div class="cart-box border3b">
                        <form id="cartAddForm" class="cart-add-form" method="{% if user.is_authenticated %}post{% else %}get{% endif %}" action="{{ LOCALE_URI }}/sale/checkout/">
	                        <div style="display: block;"><ul>
	                        	{% for prod in products %}{% if prod.active %}
                        		<li>
	                        		<input type="radio" name="code" id="opt-{{prod.code}}" value="{{prod.code}}"{% if forloop.counter == 1 and code == None %} checked="checked"{% elif prod.code == code %} checked="checked"{% endif %} />
	                        		<label for="opt-{{prod.code}}" title="{% trans "Code" %}: {{prod.code}}">{{prod.variants}} ({% if currency_position == 'before' %}{{ currency }} {{prod.price}}{% else %}{{prod.price}} {{ currency }}{% endif %})</label>
                        		</li>
	                        	{%endif %}{% endfor %}
	                        </ul></div>
	                        {% if product.status %}
                                <button class="border2 add-to-cart">{% trans "Add to cart" %}</button>
                                <input name="qty" type="number" value="1" class="qty border2" />
                            {% else %}
                                <div class="out-service ico border3b"><h3>{% trans "This product is currently unavailable." %}</h3></div>
                            {% endif %}
                            {% csrf_token %}
                        </form>
                        {% if product.status %}
	                        <div id="product-price-{{product_product.id}}" class="price-box">
	                            <span class="regular-price">
	                                <span class="price">
	                                    {% if currency_position == 'before' %}{{ currency }} {{price}}{% else %}{{price}} {{ currency }}{% endif %}
	                                </span>
	                            </span>
	                        </div>
                        {% endif %}
                        <script type="text/javascript">
                        $(document).ready(function() {
                            $('input:radio[name=code]').change(function() {
                                window.location = '?code=' + $(this).attr('value').toLowerCase();
                                $("#esale").css({ opacity: 0.3 })
                                $('#loading-bar').show();
                                return false;
                            });
                            $('.add-to-cart').click(function() {
                                $("#esale").css({ opacity: 0.3 })
                                $('#loading-bar').show();
                                document.forms["cartAddForm"].submit();
                            });
                        });
                        
                        </script>
                    </div>
