#feedbackForm { width: 100%; }
#feedbackForm label { width: 250px; }
#feedbackForm label.error, #commentForm input.submit { margin-left: 253px; }

input[type=text], input[type=password], select, textarea, .inputbox { padding: 3px 5px; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 100%; border: 1px solid #999; }
.button { padding: 3px 5px; border: 1px solid #333333; color: #CCCCCC; font-size: 85%; text-transform: uppercase;}
.button:hover, .button:focus { border: 1px solid #999999; background: #333333; color: #FFFFFF;}
input.error { border: 1px dotted red; background-color: #FFBABA;}

form.cmxform legend { padding-left: 0;}
form.cmxform legend, form.cmxform label { color: #333;}
form.cmxform fieldset { border: none; background-color: #f6f6f6;}
form.cmxform fieldset fieldset { background: none;}
form.cmxform label.error, label.error { color: red; font-style: italic}
form.cmxform fieldset { margin-bottom: 10px;}
form.cmxform legend { padding: 0 2px; font-weight: bold; _margin: 0 -7px; /* IE Win */}
form.cmxform label { display: inline-block; line-height: 1.8; vertical-align: top; cursor: hand;}
form.cmxform fieldset p { list-style: none; padding: 5px; margin: 0;}
form.cmxform fieldset fieldset { border: none; margin: 3px 0 0;}
form.cmxform fieldset fieldset legend { padding: 0 0 5px; font-weight: normal;}
form.cmxform fieldset fieldset label { display: block; width: auto;}
form.cmxform label { width: 100px; } /* Width of labels */
form.cmxform fieldset fieldset label { margin-left: 103px; } /* Width plus 3 (html space) */
form.cmxform label.error { margin-left: 103px; width: 220px;}
form.cmxform input.submit { margin-left: 103px;}
form.cmxform label.error { display: none; }	
/*\*//*/ form.cmxform legend { display: inline-block; } /* IE Mac legend fix */

.btn-action { background-color:#e2001a; color:#fff; padding:5px; border: none; cursor: pointer; }
a.btn-action:hover { color: #fff; }
.comment { color: #666; }
span.required { color: #f00; }
label.error { float: none; display: inline; clear: none; width: 400px; padding-left: 15px; }

form ul { padding: 15px; }
form li { padding:4px; }
form ul:hover { background-color: #f4f4f4; }
form ul.noeditable:hover { background-color: #fff; }
