#menu-profile { background: #e2001a;float: left;list-style: none; margin: 0 0 10px 0;padding: 0;width: 100%;}
#menu-profile li { float: left; font: 100% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif; font-size: 1em; font-weight: bold; margin: 0; padding: 0;}
#menu-profile a { background: #e2001a; color: #fff; display: block; float: left; margin: 0; padding: 8px 12px; text-decoration: none;}
#menu-profile a:hover { background: #444; color: #fff; padding-bottom: 8px;}

#profile-content{ padding-top:40px}

/* DETAILS */
#partner-details {padding-top:40px}
#partner-details h1 { font-size:14px; color:#e2001a; border-bottom:1px solid #ff0404}
#partner-details h2 { padding-top:10px; font-size:12px; font-weight:bold; border-bottom:1px solid #ff0404}
#partner-details .address { border-bottom:1px solid #e7e7e7}

.register-field { padding-top:2px}

.row0{background-color:#f6f6f6}
.row1{background-color:#fff}

.btn-create-account{ background-color:#e2001a; color:#fff; padding:5px}
.btn-login { background-color:#e2001a; color:#fff; padding:3px; border:none}

/* Register Users form */
ul.register li{ padding:2px}
#login-form label{ width: 160px}
#registerForm label{width:130px}
#registerForm .vat_code{width:50px}
