{% extends "layout.html" %}
{% load i18n %}

{% block content %}
<div class="primary-content span-9 last">
    <form action="/search/" method="post" name="global_search">
	    <fieldset>
		    <legend>{% trans "Search" %}</legend>
		    <input type="hidden" name="type" value="web">
		    <input type="text" onfocus="javascript:global_search_clear();" name="search" value="{% if search %}{{ search }}{% else %}{% trans "Search" %}{% endif %}" maxlength="255" class="text-input">
		    <input type="submit" value="{% trans "Submit" %}" />
            {% csrf_token %}	
	    </fieldset>
    </form>
    {% if list_questions_search %}
        <p>{% blocktrans %}There are {{num_results}} resultat(s).{% endblocktrans %}</p>
        <ul>
        {% for question in list_questions_search %}
            <li><a href="/faq/{{ question.category.slug }}/{{ question.slug }}/">{{ question.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% blocktrans %}There aren't some result with {{search}}.{% endblocktrans %}</p>
    {% endif %}
</div>
{% endblock %}
