{% extends "layout.html" %}
{% load modules i18n %}

{% block head %}<link href="{{ MEDIA_URL }}css/{{ THEME }}/blog.css" rel="stylesheet" type="text/css" media="screen">{% endblock %}
{% block pathway %}<div id="pathway"><ul><li><a href="/">{% trans "Home" %}</a></li> <li><span>&gt;</span> <a href="{{ LOCALE_URI }}/blog/">Blog</a></li></ul></div>{% endblock %}

{% block content %}
<div class="primary-content span-9 last">
    <div id="block-right">
        {% module blog.right %}
    </div>

    <div id="blog-list">
    {% for blog in blogs.object_list %}
        <h2><a href="{{ blog.get_absolute_url }}" alt="{{ blog.name }}" title="{{ blog.name }}">{{ blog.name }}</a></h2>
        <div class="blog-date">{{ blog.created_on|date:"d/M/Y" }}</div>
        <div class="blog-description">{{ blog.description|safe }}</div>
    {% endfor %}
    </div>
    {% if blogs.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if blogs.has_previous %}
                    <a href="?page={{ blogs.previous_page_number }}"><img src="{{ MEDIA_URL }}images/pagination-previous.png" alt="{% trans "previous" %}" title=""{% trans "previous" %}"/></a>
                {% endif %}

                <span class="current">
                    {% trans "Page" %} {{ blogs.number }} {% trans "of" %} {{ blogs.paginator.num_pages }}
                </span>

                {% if blogs.has_next %}
                    <a href="?page={{ blogs.next_page_number }}"><img src="{{ MEDIA_URL }}images/pagination-next.png" alt="{% trans "next" %}" title=""{% trans "next" %}"/></a>
                {% endif %}
            </span>
        </div>
    {% endif %}

</div>
{% endblock %}
