{% extends "layout.html" %}
{% load i18n %}
{% load modules %}

{% block head %}<link href="{{ STATIC_URL }}css/{{ THEME }}/user.css" rel="stylesheet" type="text/css" media="screen">{% endblock %}
{% block pathway %}<div id="pathway"><ul><li><a href="/">{% trans "Home" %}</a></li><li><span>&gt;</span> <a href="{{ LOCALE_URI }}/sale/">{% trans "Orders" %}</a></li></ul></div>{% endblock %}

{% block content %}
<div id="page-wrap" class="clearfix">
    {% include 'partner/menu.html' %}

    {% module catalog.right_sale id="sidebar" class="block border5" %}

    <div id="content">
        <div id="catalog-order" class="block border5 clearfix"> 
            <table id="order-cart-table" class="order-table">
            <thead>
                <tr>
                    <th>{% trans "Reference" %}</th>
                    <th class="center"><span class="nobr">{% trans "Date" %}</span></th>
                    <th class="center"><span class="nobr">{% trans "Date Confirm" %}</span></th>
                    <th class="number"><span class="nobr">{% trans "Total" %}</span></th>
                    <th class="center"><span class="nobr">{% trans "State" %}</span></th>
                    <th class="center"><span class="nobr">&nbsp;</span></th>
                </tr>
            </thead>
            <tfoot><tr><td>{% if page_previous != -1 %}<a href="?page={{ page_previous }}" alt="{% trans "Previous" %}" title="{% trans "Previous" %}" class="page-previous">{% trans "Previous" %}</a></a>{% endif %} {% if page_next %}<a href="?page={{ page_next }}" alt="{% trans "Next" %}" title="{% trans "Next" %}" class="page-next">{% trans "Next" %}</a></a>{% endif %} </td></tr></tfoot>
            <tbody>
                {% for value in values %}<tr class="{% cycle 'row1' 'row2' %}">
                    <td><a href="{{ LOCALE_URI }}/sale/order/{{ value.name }}" alt="{{ value.name }}">{{ value.name }}</a></td>
                    <td class="center">{{ value.date_order }}</td>
                    <td class="center">{% if value.date_confirm %}{{ value.date_confirm }}{% else %}{% trans "Pending" %}{% endif %}</td>
                    <td class="number">{{ value.amount_total }}</td>
                    <td class="center">{% trans value.state|capfirst %}</td>
                    <td>{% if value.state == 'draft' and value.amount_total != 0.0 %}<a href="{{ LOCALE_URI }}/sale/payment/{{ value.name }}" alt="{% trans "Payment" %}" title="{% trans "Payment" %}"><img src="{{ STATIC_URL }}images/icons/shop-cart.gif" alt="{% trans "Payment" %}" /></a>{% else %}&nbsp;{% endif %}</td>
                </tr>{% endfor %}
                {% if not values %}
                    <tr><td colspan="5"><strong>{% trans "There are not orders avaible. There's nothing you like?" %}</strong></td></tr>
                {% endif %}
            </tbody>
            </table>
        </div>
    </div>
    
</div>
{% endblock %}
