{% extends "layout.html" %}
{% load i18n %}
{% load modules %}

{% block head %}<link href="{{ STATIC_URL }}css/{{ THEME }}/user.css" rel="stylesheet" type="text/css" media="screen">{% endblock %}
{% block pathway %}<div id="pathway"><ul><li><a href="/">{% trans "Home" %}</a></li><li><span>&gt;</span> <a href="{{ LOCALE_URI }}/sale/">{% trans "Orders" %}</a></li><li><span>&gt;</span> {{ title }}</li></ul></div>{% endblock %}

{% block content %}
<div id="page-wrap" class="clearfix">
    {% include 'partner/menu.html' %}

    {% module catalog.right_sale id="sidebar" class="block border5" %}

    <div id="content">
        <div id="catalog-order" class="block border5 clearfix">
            <ul id="order-details">
                <li><strong>{% trans "Date" %}</strong>: {{ value.date_order }}</li>
                <li><strong>{% trans "Date Confirm" %}</strong>: {% if value.date_confirm %}{{ value.date_confirm }}{% else %}{% trans "Pending" %}{% endif %}</li>
                <li><strong>{% trans "State" %}</strong>: {% trans value.state|capfirst %}</li>
                <li><strong>{% trans "Delivery" %}</strong>: {% trans value.carrier_id.name %}</li>
                {% if value.invoice_ids %}<li><strong>{% trans "Invoice" %}</strong>: {% for invoice in value.invoice_ids %}{% if invoice.number %}<a href="{{ LOCALE_URI }}/account/invoice/{{ invoice.number }}" alt="{{ invoice.number }}" title="{{ invoice.number }}">{{ invoice.number }}</a>{% endif %}{% endfor %}</li>{% endif %}
            </ul>
            
            <h2>{% trans "Address Invoice" %}</h2>
            <ul id="order-invoice">
                {% if value.partner_invoice_id.name %}<li>{{ value.partner_invoice_id.name }}</li>{% endif %}
                <li>{{ value.partner_invoice_id.street }}<br/>
                {{ value.partner_invoice_id.zip }} {{ value.partner_invoice_id.city }}
                </li>
            </ul>
            
            <h2>{% trans "Address Delivery" %}</h2>
            <ul id="order-delivery">
                {% if value.partner_shipping_id.name %}<li>{{ value.partner_shipping_id.name }}</li>{% endif %}
                <li>{{ value.partner_shipping_id.street }}<br/>
                {{ value.partner_shipping_id.zip }} {{ value.partner_shipping_id.city }}
                </li>
            </ul>
            
            <table id="order-cart-table" class="order-table">
            <thead>
                <tr>
                    <th>{% trans "Reference" %}</th>
                    <th class="number"><span class="nobr">{% trans "Qty" %}</span></th>
                    <th class="number"><span class="nobr">{% trans "Discount" %}</span></th>
                    <th class="number"><span class="nobr">{% trans "Unit Price" %}</span></th>
                    <th class="number"><span class="nobr">{% trans "Subtotal" %}</span></th>
                </tr>
            </thead>
            <tbody>
                {% for line in value.order_line %}<tr class="{% cycle 'row1' 'row2' %}">
                    <td>{{ line.name }}</a></td>
                    <td class="number">{{ line.product_uom_qty }}</td>
                    <td class="number">{{ line.discount }}</td>
                    <td class="number">{{ line.price_unit }}</td>
                    <td class="number">{{ line.price_subtotal }}</td>
                </tr>{% endfor %}
            </tbody>
            </table>
            <ul class="amount-sale">
                {% if show_vat %}
	                <li><strong>{% trans "Untaxed" %}:</strong> {{ value.amount_untaxed }}</li>
	                <li><strong>{% trans "Tax" %}:</strong> {{ value.amount_tax }}</li>
                {% endif %}
                <li><strong>{% trans "Total" %}:</strong> {{ value.amount_total }}</li>
            </ul>
            {% if value.state == 'draft' and value.amount_total != 0.0 %}<div id="payment-sale"><a href="{{ LOCALE_URI }}/sale/payment/{{ value.name }}" alt="{% trans "Payment" %}" title="{% trans "Payment" %}" class="payment-buttom">{% trans "Make Payment" %}</a></div>{% endif %}
        </div>
    </div>
    
</div>
{% endblock %}
